<!DOCTYPE html>
<div class="container" style="margin-top: 100px">

    <div id="search-component">
        <button  class="btn btn-primary" (click)="addUser()">
            Add new user
        </button>
        <input #searchBox id="search-box" (keyup)="searchUser(searchBox.value)" placeholder="Search user"/>
        <div>
            <div *ngFor="let user1 of searchedUsers | async"
                class="search-result" >
                {{user1.firstName}}
            </div>
        </div>
    </div>
    
<table class="tableCatalog">
    <colgroup>
        <col style="width: 125px"/>
        <col style="width: 130px"/>
        <col style="width: 150px"/>
        <col style="width: 95px"/>
        <col style="width: 200px"/>
        <col style="width: 200px"/>
        <col style="width: 185px"/>
    </colgroup>
    <thead>
        <tr>
            <th><span>First Name</span></th>
            <th><span >Last Name</span></th>
            <th><span >Email Id</span></th>
            <th><span >Address</span></th>
            <th><span >Phone number</span></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td><span style="margin-left: 20px; margin-top: 10px">{{user.firstName}}</span></td>
            <td><span style="margin-left: 20px; margin-top: 10px">{{user.lastName}}</span></td>
            <td><span style="margin-left: 20px; margin-top: 10px;">{{user.emailId}}</span></td>
            <td><span style="margin-left: 20px; margin-top: 10px">{{user.address}}</span></td>
            <td><span style="margin-left: 50px; margin-top: 10px">{{user.phoneNumber}}</span></td>
    <button (click) = "editUser(user.userId)" class="glyphicon glyphicon-pencil" style="margin-left: 10px; margin-top: 10px"></button>
    <button (click) = "deleteUser(user.userId)" class="glyphicon glyphicon-trash" style="margin-left: 10px; margin-top: 10px"></button>
    </tr>
    </tbody>
</table>

<table class="tableOrder">
    <colgroup>
        <col style="width: 125px"/>
        <col style="width: 130px"/>
        <col style="width: 150px"/>
        <col style="width: 95px"/>
        <col style="width: 200px"/>
        <col style="width: 200px"/>
        <col style="width: 185px"/>
    </colgroup>
    <thead>
        <tr>
            <th><span>First Name</span></th>
            <th><span >Last Name</span></th>
            <th><span >Email Id</span></th>
            <th><span >Address</span></th>
            <th><span >Phone number</span></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td><span style="margin-left: 20px; margin-top: 10px">{{user.firstName}}</span></td>
            <td><span style="margin-left: 20px; margin-top: 10px">{{user.lastName}}</span></td>
            <td><span style="margin-left: 20px; margin-top: 10px;">{{user.emailId}}</span></td>
            <td><span style="margin-left: 20px; margin-top: 10px">{{user.address}}</span></td>
            <td><span style="margin-left: 50px; margin-top: 10px">{{user.phoneNumber}}</span></td>
    <button (click) = "editUser(user.userId)" class="glyphicon glyphicon-pencil" style="margin-left: 10px; margin-top: 10px"></button>
    <button (click) = "deleteUser(user.userId)" class="glyphicon glyphicon-trash" style="margin-left: 10px; margin-top: 10px"></button>
    </tr>
    </tbody>
</table>

</div>
<router-outlet></router-outlet>